<div class="g1">
  <div class="g2">
    <h1 class="tit"><strong>Equipo</strong></h1>
    <div class="integrantes">
      <div class="integrante tit">
        <img src="/assets/images/m_352rf__20151103100115.webp" alt="" />
        <h5 class="">Magali</h5>
        <h5 class="">Legaspi</h5>
      </div>
      <div class="tit">
        <img src="/assets/images/404040_1316318.jpg" alt="" />
        <h5 class="">Gabriel</h5>
        <h5 class="">Vega</h5>
      </div>
      <div class="tit">
        <img src="/assets/images/images.jpeg" alt="" />
        <h5 class="">Gonzalo</h5>
        <h5 class="">Gimenez</h5>
      </div>
      <div class="tit">
        <img src="/assets/images/QNRRWEXWZZBCJEZR5TH7IGLB3A.jpg" alt="" />
        <h5 class="">Lucas</h5>
        <h5 class="">Fernandez</h5>
      </div>
    </div>
    <h5 class="descripcion">
      CinemaLand es una aplicación web desarrollada en Angular para un cine,
      diseñada para mejorar la experiencia de los usuarios. Se busca ofrecer una
      plataforma moderna, accesible y dinámica que permita a los usuarios
      descubrir y gestionar sus películas favoritas y entradas de forma rápida y
      cómoda.
    </h5>
    <button class="btn btn-danger volver" routerLink="">
      Volver al Inicio
    </button>
  </div>
</div>
