<div class="g1">
  <div class="g2">
    <h2>Grupo N° 4</h2>
    <h4>Integrantes:</h4>
    <h5 class="int">» Magali Legaspi</h5>
    <h5 class="int">» Gabriel Vega</h5>
    <h5 class="int">» Gonzalo Gimenez</h5>
    <h5 class="descripcion">
      CinemaLand es una aplicación web desarrollada en Angular para un cine,
      diseñada para mejorar la experiencia de los usuarios. Se busca ofrecer una
      plataforma moderna, accesible y dinámica que permita a los usuarios
      descubrir y gestionar sus películas favoritas y entradas de forma rápida y
      cómoda.
    </h5>
    <button class="btn btn-danger volver" routerLink="">
      Volver al Inicio
    </button>
  </div>
</div>
