<div class="container-random text-center">
  <h1>Experiencia Random!</h1>
  <h2 class="text-white bg-danger">15% de Descuento</h2>
  <h2>Disfruta de la Nueva Experiencia de Ir al Cine!</h2>
  <div class="row">
    <div class="col">
      <div>
        <p>Selecciona tus categorias</p>
      </div>
      <div class="row row-cols-lg-auto g-1 aling-items-center">
        <div class="row justify-content-center">
          @for(item of categorias; track $index){ @if($index >=
          (categorias.length/2)){
          <div class="col-6">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckChecked{{ item.id }}"
                (change)="onCheckboxChange($event, item)"
              />
              <label
                class="form-check-label"
                for="flexSwitchCheckChecked{{ item.id }}"
                >{{ item.name }}</label
              >
            </div>
          </div>
          }@else{
          <div class="col-6">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckChecked{{ item.id }}"
                (change)="onCheckboxChange($event, item)"
              />
              <label
                class="form-check-label"
                for="flexSwitchCheckChecked{{ item.id }}"
                >{{ item.name }}
              </label>
            </div>
          </div>
          } }
        </div>
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-danger" (click)="Randompeli()">
          Buscar Random
        </button>
      </div>
    </div>
    <div class="col-8 gx-6 gy-4">
      <div id="carouselExample" class="carousel slide w-50">
        <div class="carousel-inner">
          @for(item of peliculas; track $index){
          <div class="carousel-item" [class.active]="$index === activeIndex">
            <a [routerLink]="['/peliculadetalle', item.id]"
              ><img
                [src]="'https://image.tmdb.org/t/p/w200/' + item.poster_path"
                class="d-block w-100"
                alt="..."
            /></a>
            <p>{{ item.title }}</p>
            <p>{{ item.overview }}</p>
            <p>{{ item.release_date }}</p>
            <button
              class="btn btn-danger mt-2"
              (click)="irAComprarEntradas(item.id)"
            >
              🎟️ Comprar Entradas 🎟️
            </button>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
