.h1 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  margin-top: 20px;
  color: white;
  -webkit-text-stroke: 1px white; /* contorno rojo */
}

.banner {
  background-image: url("../../assets/images/cinemalandBanner.jpg");
  width: auto;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid rgba(0, 0, 0, 0.53);
  border-bottom: 10px solid rgba(0, 0, 0, 0.774);
}

.compra-container {
  margin-bottom: 50px;
}

.pelicula-card {
  margin-bottom: 20px;
}
