<div class="container text-center">
    <h1>Tu Pelicula Random</h1>
    <div class="row">
        <div class="col">
            <div>
                <p>Selecciona tus categorias</p>
            </div>
            <div class="row row-cols-lg-auto g-1 aling-items-center  ">
                   
                <div class="row justify-content-center">
                        
                    @for(item of categorias; track $index){   
                        @if($index >= (categorias.length/2)){
                            <div class="col-6">
                                <div class="form-check form-switch ">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked{{item.id}}"  >
                                    <label class="form-check-label" for="flexSwitchCheckChecked{{item.id}}">{{item.name}}</label>
                                </div>
                            </div> 
                        }@else{  
                            <div class="col-6">        
                                <div class="form-check form-switch ">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked{{item.id}}"  >
                                    <label class="form-check-label" for="flexSwitchCheckChecked{{item.id}}">{{item.name}}</label>
                                </div>
                            </div>
                        }
                    }
                        
                </div>              
                
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-primary" (click)="Randompeli()">Random</button>
            </div>
            
        </div>
        <div class="col-8" >
            <div id="carouselExample" class="carousel slide w-50">
                <div class="carousel-inner ">
                    @for(item of peliculas; track $index){
                        <div class="carousel-item" [class.active]="$index === activeIndex">
                            <img  [src]="'https://image.tmdb.org/t/p/w200/' + item.poster_path" class="d-block w-100" alt="...">
                            
                          </div>
                    }
                </div>
               
            </div>
        </div>        
    </div>
    
    
</div>


