<div class="compra-container">
  <h1>¡Bienvenido a Cinemaland!</h1>
  <!-- Lista de películas populares -->
  <div class="peliculas-populares">
    <h2>Películas Populares</h2>
    <div class="peliculas-grid">
      <div *ngFor="let pelicula of peliculas" class="pelicula-card">
        <img [src]="'https://image.tmdb.org/t/p/w200/' + pelicula.poster_path" alt="Poster" />
        <h4>{{ pelicula.title }}</h4>
        <button (click)="verDetalles(pelicula.id)">Ver Detalles</button>
      </div>
    </div>
  </div>

  <!-- Detalles de la película seleccionada -->
  <div *ngIf="detallesPelicula" class="detalles-pelicula" id="detalles-pelicula">
    <h3>Detalles de la Película</h3>
    <h4>{{ detallesPelicula.title }}</h4>
    <img [src]="'https://image.tmdb.org/t/p/w500/' + detallesPelicula.poster_path" alt="Foto de la película" />
    <p>{{ detallesPelicula.overview }}</p>
    <p>Fecha de estreno: {{ detallesPelicula.release_date }}</p>
    <button (click)="comprarEntradas()" class="comprar-entradas">Comprar Entradas</button>
  </div>
</div>
