<div class="detalles-pelicula fade-in">
  <h1>{{ movieDetails?.title }}</h1>
  <img
    *ngIf="movieDetails?.imageUrl"
    [src]="movieDetails.imageUrl"
    alt="{{ movieDetails?.title }}"
  />
  <h3>{{ movieDetails?.overview }}</h3>
  <h3>{{ movieDetails?.release_date }}</h3>
</div>

<div *ngIf="esEstreno">
  <div class="seleccion-asientos">
    <div class="seleccion-asientos">
      <div class="dropdown">
        <label for="sucursal" class="fs-5">Selecciona una sucursal:</label>
        <select
          id="sucursal"
          [(ngModel)]="sucursalSeleccionada"
          (change)="onSucursalChange(this.sucursalSeleccionada)"
        >
          <option *ngFor="let sucursal of sucursales" [value]="sucursal.NOMBRE">
            {{ sucursal.NOMBRE }}
          </option>
        </select>
      </div>

      <div class="dropdown" *ngIf="sucursalSeleccionada">
        <label for="horario" class="fs-5">Selecciona el horario:</label>
        <select
          id="horario"
          [(ngModel)]="horarioSeleccionado"
          (change)="onHorarioChange(this.horarioSeleccionado)"
        >
          <option *ngFor="let hora of horariosPorSucursal" [value]="hora">
            {{ hora }}
          </option>
        </select>
      </div>

      <div *ngIf="sucursalSeleccionada && horarioSeleccionado">
        <h3 class="asientosTitulo fs-5">Selecciona tus asientos</h3>
        <div *ngFor="let fila of filasAsientos" class="fila">
          <span
            *ngFor="let asiento of fila"
            (click)="seleccionarAsiento(asiento)"
            [class.selected]="asientosSeleccionados.includes(asiento)"
          >
            {{ asiento.nombre || asiento.ASIENTO }}
          </span>
        </div>
      </div>
    </div>

    <div
      class="dropdown"
      *ngIf="horarioSeleccionado && asientosSeleccionados.length > 0"
    >
      <label for="pago" class="fs-5">Selecciona el método de pago:</label>
      <select
        id="pago"
        [(ngModel)]="modoPago"
        (change)="onPagoChange()"
        [disabled]="!horarioSeleccionado"
      >
        <option value="pago_mostrador">Pago en mostrador</option>
        <option value="pago_online" [disabled]="true">
          Pago online (PROXIMAMENTE)
        </option>
      </select>
    </div>

    <div class="resumen-compra">
      <h3 class="text-dark">Resumen</h3>
      <p class="text-dark">
        Asientos seleccionados: {{ asientosSeleccionados.length }}
      </p>
      <p class="text-dark">
        Total a pagar: {{ precioTotal | currency : "ARS $" }}
      </p>
      <button
        class="comprar-entradas"
        [disabled]="!modoPago"
        (click)="confirmarCompra()"
      >
        Confirmar compra
      </button>
    </div>

    <div *ngIf="compraConfirmada" class="mensaje-agradecimiento fade-in">
      <h2>✨ ¡Gracias por tu compra! ✨</h2>
      <p>
        Tu compra ha sido confirmada con éxito. Hemos generado un PDF con los
        detalles de tu compra y el código QR. ¡Disfruta de tu película! 🎬
      </p>
      <button class="btn-confirmacion" (click)="redirigirAPaginaPrincipal()">
        Volver al inicio
      </button>
    </div>
  </div>
</div>
